.btn {
  display: inline-block;
  min-width: 60px;
  padding: 8px 15px;
  position: relative;
  background: $green;
  border: $green-dark solid 1px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  @include transition(color .1s ease);
  &:hover {
    background: $green-dark;
  }
}

.btn-close {
  position: absolute;
  right: 5px;
  top: 0;
  color: $gray-light;
  font-size: 30px;
  text-decoration: none;
  &:hover {
     color: darken($gray-light, 10%);
  }
}

.btn-close-circle {
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    @include border-radius(50%);
    @include box-sizing(border-box);
    &:hover {
        color: #000;
    }
}
