.lightbox {
    &:before {
        @extend %overlay;
    }
    &:target {
        display: block;
        @include animation(fadein, .3s);
        &:before,
        .lightbox-content {
          display: block;
        }
    }
}

.lightbox-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 40px 120px;
    z-index: 11;
    @include box-sizing(border-box);
    img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        @include border-radius(3px);
        @include box-shadow(0 0 4px #000);
    }
    .lightbox-meta-data {
        padding: 20px;
        position: fixed;
        height: 80px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #000;
        background-color: rgba(#000, .8);
        color: #fff;
        @include box-sizing(border-box);
        h3 {
            font-size: 20px;
        }
        p {
            margin-top: 4px;
            font-weight: 300;
        }
    }
}
