.thumb {
    display: inline-block;
    position: relative;
    padding: 10px;
    background: $green;
    img {
        display: block;
    }
    span {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 10px;
        left: 10px;
        background-color: $green-dark;
        background-color: rgba($green-dark, .8);
        color: $gray-lighter;
        font-size: 24px;
        line-height: 150px;
        text-align: center;
        @include transition(opacity .3s linear);
        @include opacity(0);
    }
    &:hover span {
        @include opacity(1);
    }
}

.lightbox {
    &:before {
        @extend %overlay;
    }
    &:target {
        display: block;
        &:before,
        .lightbox-content {
          display: block;
        }
    }
}

.lightbox-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 40px 120px;
    z-index: 11;
    @include box-sizing(border-box);
    img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
    }
    .lightbox-meta-data {
        padding: 20px;
        position: fixed;
        height: 80px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #000;
        background-color: rgba(#000, .8);
        color: #fff;
        @include box-sizing(border-box);
    }
}
