body {
    background-color: #f7f7f7;
}

.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 40px;
    width: 960px
}

.container-modal .btn-wrapper {
    margin-top: 150px;
    text-align: center;
}
